<section class="phx-hero">
  <h1>Welkom bij J&M United</h1>
  <p>Uw lokale dierenwinkel!</p>
  <img src="https://sm.mashable.com/t/mashable_nl/feature/d/dogecoin-e/dogecoin-everything-you-need-to-know-about-the-cryptocurrenc_qhga.h1280.jpg" alt="" width="800" height="400">
</section>


